.head {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}

.mainHeader {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;
  box-shadow: -1px 6px 9px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 6px 9px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 9px -5px rgba(0, 0, 0, 0.75);
  position: relative;
}

.image {
  width: 9.4vw;
  height: 6.4vw;
  cursor: pointer;
  margin-left: 2vw;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.dataRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.icon {
  font-size: 1.4rem;
  margin-top: 5px;
}

.dataText {
  font-size: 1rem;
  text-align: center;
}

.headerContent {
  width: 60%;
  align-self: center;
}

.buttonsContainer {
  width: calc(65vw - 9.4vw);
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 8vw;
  margin-top: 2vw;
}

.container {
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  color: #000;
}

.container:active {
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

.activeContainer {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #aec3b0;
  border-radius: 8px;
  box-shadow: -1px 6px 9px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 6px 9px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 9px -5px rgba(0, 0, 0, 0.75);
  text-decoration: underline;
  color: #000;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  padding: 0 0.5vw;
}

.container:hover {
  background: #aec3b0;
  border-radius: 8px;
  box-shadow: -1px 6px 9px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 6px 9px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 9px -5px rgba(0, 0, 0, 0.75);
}

.container strong,
.activeContainer strong {
  font-size: 0.9vw;
}
