.warningContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: red solid 3px;
  padding: 1vw;
  border-radius: 8px;
  background: #fff;
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.warningContainer strong {
  font-size: 1.2rem;
  font-style: italic;
}
